* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */

.main-cont {
  background-color: #f4faff;
  width: 720px;
  
}
.cards-cont {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
}
.main-h{
    width: 700px;
    text-align: center;
}
.main-p{
    width: 700px;
    text-align: center;
}
